<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
<h:head>
    <title>Library system</title>
</h:head>

<h:body>
    <h:form>
        <h1>Add book to library</h1>
        <h3>Book</h3>
        <h:panelGrid columns="3" columnClasses="titleCell">

            <h:outputLabel for="title" value="Title:"/>
            <h:inputText id="title" value="#{newBookToAdd.title}"/>
            <h:message for="title" errorClass="invalid"/>

            <h:outputLabel for="date" value="Date of publishing:"/>
            <h:inputText id="date" value="#{newBookToAdd.dateOfPublishing}">
                <f:convertDateTime pattern="dd. MM. yyyy"/>
            </h:inputText>
            <h:message for="date" errorClass="invalid"/>

            <h:outputLabel for="genre" value="Genre:"/>
            <h:inputText id="genre" value="#{newBookToAdd.genre}"/>
            <h:message for="genre" errorClass="invalid"/>
        </h:panelGrid>

        <h3>Library</h3>
        <h:panelGrid columns="3" columnClasses="titleCell">

            <h:outputLabel for="name" value="Name:"/>
            <h:inputText id="name" value="#{newLibraryToReceive.name}"/>
            <h:message for="name" errorClass="invalid"/>

            <h:outputLabel for="address" value="Address:"/>
            <h:inputText id="address" value="#{newLibraryToReceive.address}"/>
            <h:message for="address" errorClass="invalid"/>
        </h:panelGrid>

        <p>
            <h:panelGrid columns="2">
                <h:commandButton id="register"
                                 action="#{bookToLibraryController.addBookToTheLibrary}"
                                 value="Add" styleClass="add"/>
                <h:messages styleClass="messages"
                            errorClass="invalid" infoClass="valid"
                            warnClass="warning" globalOnly="true"/>
            </h:panelGrid>
        </p>

    </h:form>
</h:body>
</f:view>
</html>