<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <title>Library system</title>
    </h:head>

    <h:body>
        <h:form>
            <h1>Contract between author and publisher</h1>
            <h3>Author</h3>
            <h:panelGrid columns="3" columnClasses="titleCell">

                <h:outputLabel for="firstName" value="First name:"/>
                <h:inputText id="firstName" value="#{newAuthorToSignContract.firstName}"/>
                <h:message for="firstName" errorClass="invalid"/>

                <h:outputLabel for="surname" value="Surname:"/>
                <h:inputText id="surname" value="#{newAuthorToSignContract.surname}"/>
                <h:message for="surname" errorClass="invalid"/>

                <h:outputLabel for="email" value="Email:"/>
                <h:inputText id="email" value="#{newAuthorToSignContract.email}"/>
                <h:message for="email" errorClass="invalid"/>
            </h:panelGrid>

            <h3>Publisher</h3>
            <h:panelGrid columns="3" columnClasses="titleCell">

                <h:outputLabel for="name" value="Name:"/>
                <h:inputText id="name" value="#{newPublisherToMakeContract.name}"/>
                <h:message for="name" errorClass="invalid"/>

                <h:outputLabel for="address" value="Address:"/>
                <h:inputText id="address" value="#{newPublisherToMakeContract.address}"/>
                <h:message for="address" errorClass="invalid"/>
            </h:panelGrid>

            <p>
                <h:panelGrid columns="2">
                    <h:commandButton id="signContract"
                                     action="#{contractControllers.signContractWithPublisher}"
                                     value="Sign contract" styleClass="sign"/>
                    <h:messages styleClass="messages"
                                errorClass="invalid" infoClass="valid"
                                warnClass="warning" globalOnly="true"/>
                </h:panelGrid>
            </p>

        </h:form>
    </h:body>
</f:view>
</html>
