<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
    <h:head>
        <title>Library system</title>
    </h:head>

    <h:body>
        <h:form>
            <h1> Library system</h1>
            <h:panelGrid columns="1" columnClasses="titleCell">
                <h:commandButton value="Add book to library" action="AddBookToLibrary"/>
                <h:commandButton value="Make contract between author and publisher" action="ContractWithPublisher"/>
                <h:commandButton value="Publish new book" action="PublishNewBook"/>
            </h:panelGrid>
        </h:form>
    </h:body>

</f:view>
</html>
