<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <title>Library system</title>
    </h:head>

    <h:body>
        <h:form>
            <h1>Publish new book</h1>
            <h3>Publisher</h3>
            <h:panelGrid columns="3" columnClasses="titleCell">

                <h:outputLabel for="name" value="Name:"/>
                <h:inputText id="name" value="#{newPublisherToPublish.name}"/>
                <h:message for="name" errorClass="invalid"/>

                <h:outputLabel for="address" value="Address:"/>
                <h:inputText id="address" value="#{newPublisherToPublish.address}"/>
                <h:message for="address" errorClass="invalid"/>
            </h:panelGrid>

            <h3>Book</h3>
            <h:panelGrid columns="3" columnClasses="titleCell">

                <h:outputLabel for="title" value="Title:"/>
                <h:inputText id="title" value="#{newBookToPublished.title}"/>
                <h:message for="title" errorClass="invalid"/>

                <h:outputLabel for="date" value="Date of publishing:"/>
                <h:inputText id="date" value="#{newBookToPublished.dateOfPublishing}">
                    <f:convertDateTime pattern="dd. MM. yyyy"/>
                </h:inputText>
                <h:message for="date" errorClass="invalid"/>

                <h:outputLabel for="genre" value="Genre:"/>
                <h:inputText id="genre" value="#{newBookToPublished.genre}"/>
                <h:message for="genre" errorClass="invalid"/>
            </h:panelGrid>

            <p>
                <h:panelGrid columns="2">
                    <h:commandButton id="publish"
                                     action="#{publishController.publishNewBook}"
                                     value="Publish" styleClass="publish"/>
                    <h:messages styleClass="messages"
                                errorClass="invalid" infoClass="valid"
                                warnClass="warning" globalOnly="true"/>
                </h:panelGrid>
            </p>

        </h:form>
    </h:body>
</f:view>
</html>
